@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  background-color: #f2f2f2;
  height: 100%;
}

body{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  box-shadow:  0 0 15px 0 rgba(0, 0, 0, 0.2);
  width: 1200px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container{
  margin: 0 auto;
  width: 1200px;
}

*,
*::before
*::after{
  box-sizing: border-box;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.logo{
  margin: -10px 28px 0 70px;
}

.logo:hover{
  opacity: 0.8;
  cursor: pointer;
}

.logo:focus{
  opacity: 0.6;
}

.logotype{
  width: 140px;
  height: 70px;
  position: relative;
  top: 10px;
}

.navigation{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list-one a:hover{
  color: rgba(0, 0, 0, 0.8);
  outline: none;
  cursor: pointer;
}

.navigation-list-one a:focus{
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.navigation-list{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 507px;
  margin: 0;
  padding: 0;
}

.navigation-item{
  position: relative;
  margin: 15px 6px;
}

.navigation-item:last-child{
  margin-right: 0;
}

.navigation-link{
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  position: relative;
  padding: 15px 10px;
}

.navigation-link-current::after{
  content: "";
  position: absolute;
  background-color: #756257;
  bottom: -9%;
  left: 10%;
  right: 9%;
  height: 2px;
}

.navigation-link-brown{
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 33px;
  background: #756157;
  box-sizing: border-box;
  text-transform: uppercase;
  margin: 0;
  width: 160px;
  min-height: 36px;
}

.navigation-link-brown:hover{
  outline: none;
  background-color: #615048;
  cursor: pointer;
}

.navigation-link-brown:focus{
  outline: none;
  background-color: #615048;
}

.navigation-link-brown:active{
  outline: none;
  color: rgba(225, 225, 225, 0.3);
}

.navigation-user{
  max-width: 303px;
  margin-left: auto;
  margin-right: 42px;
}

.navigation-user a:not(:last-child):hover{
  color: rgba(0, 0, 0, 0.8);
  outline: none;
  cursor: pointer;
}

.navigation-user a:not(:last-child):focus{
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.navigation-link-words{
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}

.navigation-link-search{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/main-header-search.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  padding: 0 12px;
}

.navigation-item.navigation-link-search:hover{
  opacity: 0.8;
  cursor: pointer;
}

.navigation-item.navigation-link-search:focus{
  opacity: 0.6;
}

.navigation-item.navigation-link-search:focus-within{
  opacity: 0.6;
}

.navigation-link-heart{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/main-header-heart.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  padding: 0 12px;
  position: relative;
  margin-right: 13px;
  margin-left: -5px;
}

.navigation-link-heart::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border: none;
  border-radius: 50%;
  bottom: 12px;
  right: 4px;
  z-index: 1;
}

.navigation-item.navigation-link-heart:hover{
  opacity: 0.8;
  cursor: pointer;
}

.navigation-item.navigation-link-heart:focus{
  opacity: 0.6;
}

.navigation-item.navigation-link-heart:focus-within{
  opacity: 0.6;
}

.item-twelve{
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 11px;
  height: 12px;
  bottom: 13px;
  right: 8px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.main-container{
  flex-grow: 1;
}

.hero{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-main-background-bottom.svg"),
                    url("../images/main-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px auto, cover;
  background-position: center bottom, center;
  display: block;
  margin: 0 auto;
  height: 485px;
}

.hero-welcome{
  margin: 51px 371px 82px;
}

.advantages-title{
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  margin-top: 69px;
  padding: 0 220px;
}

.advantages-subtitle{
  color: #333333;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 25px;
  margin-bottom: 90px;
}

.advantages-list{
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

.advantages-item{
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 385px;
}

.advantages-item:nth-child(even){
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd){
  background-color:  rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-item-blue{
  background-color: #82b3d3;

  flex-direction: row;
  width: 100%;
}

.advantages-item.advantages-item-blue:last-child{
  background-color: #82b3d3;

  flex-direction: row-reverse;
  width: 100%;
}

.advantages-connect{
  display: flex;
  flex-direction: column;

  margin: 0;
}

.advantages-reason.advantages-reason-pale{
  padding: 112px 109px 62px;
  margin: 0;
}

.advantages-reason.advantages-reason-white{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 101px 114px 62px;
  margin: 0;
}

.advantages-description.advantages-description-white{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0 86px;
  padding-bottom: 60px;
}

.advantages-reason{
  position: relative;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-reason::after{
  content: "";
  left: 50%;
  position: absolute;
  bottom: 29px;
  width: 60px;
  height: 2px;
  background: currentColor;
  opacity: 0.3;
  transform: translateX(-50%);
}

.advantages-description.advantages-description-pale{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0 85px;
  padding-bottom: 60px;
}

.advantages-picture{
  height: 100%;
  object-fit: cover;
}

.comfort{
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.comfort-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  display: block;
  margin: 0 0;
  padding: 64px 350px 0;
}

.comfort-subtitle{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  display: block;
  margin: 0 0;
  padding: 20px 300px 64px;
}

.comfort-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.comfort-item{
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 385px;
}

.comfort-item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}

.comfort-item:nth-child(even){
  background-color: #ffffff;
}

.comfort-reason{
  display: block;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 165px 109px 0;
  margin: 0;
}

.reason-house{
  margin-top: 17px;
  background-image: url("../images/index-reason-house.svg");
}

.reason-food{
  margin-top: 17px;
  background-image: url("../images/index-reason-food.svg");
}

.reason-gift{
  margin-top: 17px;
  background-image: url("../images/index-reason-gift.svg");
}

.comfort-description{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  padding: 0 85px;
  padding-top: 28px;
  margin: 0;
  padding-bottom: 60px;
}

.interest{
  display: block;
  margin: 96px auto;
  width: 1200px;
  text-align: center;
}

.interest-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: inherit;
  color: #000000;
  margin: 0 0;
  padding: 0 250px;
}

.interest-subtitle{
  font-size: 22px;
  line-height: 26px;
  text-align: inherit;
  color: #333333;
  padding: 20px 250px 54px;
  margin: 0 0;
}

.interest-button{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: inherit;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 15px;
  width: 376px;
  min-height: 52px;
  background: #756157;
  border: none;
}

.interest-button[type="button"]:hover{
  outline: none;
  background-color: #615048;
  cursor: pointer;
}

.interest-button[type="button"]:focus{
  outline: none;
  background-color: #615048;
}

.interest-button[type="button"]:active{
  outline: none;
  color: rgba(225, 225, 225, 0.3);
}

.interest-button[type="button"]:disabled{
  background-color: #E5E5E5;
  pointer-events: none;
}

.news{
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.news-background{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/main-news-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  min-height: 415px;
}

.news-title{
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 96px 352px 0;
  margin: 0 0;
}

.news-title-black{
  color: #000000;
  background-color: #ffffff;
}

.news-subtitle{
  color:#ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 20px 352px 54px;
  margin: 0 0;
}

.news-subtitle-black{
  color: #000000;
  background-color: #ffffff;
}

.news-search{
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 104px;
}

.news-date{
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  text-align: left;
}

.field-index{
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 4px 0 0 4px;
  width: 452px;
  min-height: 52px;
  background: #f2f2f2;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.field-index:hover{
  background-color: #E6E6E6;
  cursor: pointer;
}

.field-index:focus{
  outline: 2px solid #83B3D3;
}

.field-index[type="email"]{
  font-weight: 700;
  color: #000000;
  padding-left: 20px;
}

.field-index::placeholder{
  font-weight: 400;
}

.news-button{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  width: 232px;
  min-height: 52px;
  background: #82b3d3;
  color: #ffffff;
  box-sizing: border-box;
  border: none;
}

.news-button:hover{
  background-color: #68A2CA;
  outline: none;
  cursor: pointer;
}

.news-button:focus{
  background-color: #68A2CA;
  outline: none;
}

.news-button:active{
  color: rgba(225, 225, 225, 0.3);
  outline: none;
}

.news-button:disabled{
  background-color: #E5E5E5;
  pointer-events: none;
}

.info{
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 43px 0;
}

.info-list{
  display: flex;
  flex-flow: row wrap;
  width: 150px;
  padding-left: 70px;
}

.info-item{
  display: block;
  width: 47px;
  height: 40px;
}

.info-link{
  display: block;
  outline: none;
}

.info-link:hover path,
.info-link:focus path{
 fill: #68A2CA;
 cursor: pointer;
}

.info-link:active{
  opacity: 0.3;
}

.info-link-vk{
  padding: 11px 11px;
}

.info-link-telegram{
  padding: 11px 15px;
}

.info-link-youtube{
  padding: 12px 13px;
}

.info-contacts{
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 400px;
  margin: 0 auto;
  padding-right: 5px;
  outline: none;
}

.info-contacts:hover,
.info-contacts:focus{
  color: #756157;
  cursor: pointer;
}

.info-contacts:active{
  color: #756157;
  opacity: 0.3;
}

.info-academy{
  padding-top: 3px;
  max-width: 150px;
  padding-right: 70px;
  outline: none;
}

.info-academy:hover path,
.info-academy:focus path{
  fill: #756157;
  cursor: pointer;
}

.info-academy:active{
  fill: #756157;
  opacity: 0.3;
}
/* Начинается Hotels */

.hotels-settings{
  background-image: url("../images/hotels-main-background.jpg");
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 1060px;
  min-height: 412px;
  margin: 0 auto 49px;
  padding: 0 70px;
}

.inner-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0 0;
  padding-top: 35px;
}

.breadcrumbs{
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px 0 40px;
  max-width: 70%;
}

.breadcrumbs-item{
  padding-right: 28px;
  position: relative;
}

.breadcrumbs-link:hover{
  outline: none;
  opacity: 0.8;
  cursor: pointer;
}

.breadcrumbs-link:focus{
  outline: none;
  opacity: 0.6;
}

.breadcrumbs-item:not(:last-child):after{
  content: "";
  position: absolute;
  background-image: url("../images/breadcrumbs-pointer.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 11px;
  top: 6px;
  right: 10px;
  margin: 0 auto;
}

.breadcrumbs-hotels{
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.hotels-filter{
  display: flex;
  flex-direction: row;
}

.hotels-filter-group{
  border: none;
  padding: 0;
  margin: 0;
}

.hotels-filter-group-two{
  margin-left: 67px;
}

.hotels-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.hotels-list{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 23px;
  padding-bottom: 30px;
}

.hotels-item{
  padding: 8px 0;
}

.hotels-item:last-child{
  padding: 0;
  padding-top: 8px;
}

.control{
  display: block;
  padding-left: 37px;
  position: relative;
  outline: none;
}

.hotels-filter-group:first-child .control-click{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  background-color: #ffffff;
  top: 1px;
  left: 0;
}

.control-input[type="checkbox"]:checked + .control-click::after{
  content: "";
  position: absolute;
  background-image: url("../images/hotels-mark-checked.svg");
  background-repeat: no-repeat;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 10px;
}

.hotels-filter-group-two .control-click{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 2px;
  left: 1px;
}

.control-input[type="radio"]:checked + .control-click::after{
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
}

.control:hover{
  opacity: 0.6;
  cursor: pointer;
}

.control:focus{
  outline: 2px solid #83B3D3;
  border: none;
}

.control:focus-within .control-click{
  display: block;
  outline: 2px solid #83B3D3;
  border: none;
}

.control:active{
  opacity: 0.3;
}

/* БЛОК С RANGE */

.hotels-price{
  padding: 0;
  margin: 0;
  border: none;
  margin-left: 152px;
}

.hotels-cost{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 0;
}

.range-cost{
  padding-top: 31px;
  margin-left: 2px;
}

.range-start{
  position: relative;
}

.range-input{
  border: none;
}

.range-input:hover{
  outline: none;
  cursor: pointer;
}

.range-input:focus{
  outline: 2px solid #83b3d3;
  border: none;
}

.range-input[value="0"],
.range-input[value="9000"]{
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 49px;
  margin-left: -3px;
}

.input-left{
border-radius: 4px 0 0 4px;
  padding: 13px 0;
  width: 73px;
  background: #f2f2f2;
  margin: 0;
}

.range-span-start{
  position: absolute;
  right: 25px;
  top: 1px;
  margin: 0;
  padding: 0;
  color: #000000;
  opacity: 0.3;
}

.range-end{
  position: relative;
}

.input-rigth{
  border-radius: 0 4px 4px 0;
  padding: 13px 0;
  width: 73px;
  background: #f2f2f2;
  margin: 0;
}

.range-span-end{
  position: absolute;
  right: 19px;
  top: 1px;
  margin: 0;
  padding: 0;
  color: #000000;
  opacity: 0.3;
}

.range-scale{
  margin-top: 43px;
  position: relative;
  height: 4px;
  background-color: rgba(225, 225, 225, 0.3);
}

.range-bar{
  position: absolute;
  height: 4px;
  background-color: rgb(255, 255, 255);
}

.min-cost{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 25%;
  background-color: #ffffff;
  border: none;
  bottom: -8px;
  left: 0;
}

.max-cost{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 25%;
  background-color: #ffffff;
  border: none;
  bottom: -8px;
  right: 0;
}

.cost-toggle:focus{
  border: none;
  outline: 3px solid #83b3d3;
  border-radius: 5px;
}

.cost-toggle:active{
  border: none;
  outline: 3px solid #83b3d3;
  border-radius: 5px;
}

.hotels-button{
  font-family: "PT Sans", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: auto;
  justify-content: flex-start;
  padding-top: 56px;
}

.button-margin{
  margin-bottom: 30px;
}

.button-look-one{
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 4px;
  padding: 8px 35px;
  width: 191px;
  min-height: 36px;
  color: #ffffff;
  background: #82b3d3;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.button-look-one:hover{
  outline: none;
  background-color: #68A2CA;
  cursor: pointer;
}

.button-look-one:focus{
  outline: none;
  background-color: #68A2CA;
}

.button-look-one:active{
  outline: none;
  color: rgba(225, 225, 225, 0.3);
}

.button-look-one:disabled{
  background-color: #E5E5E5;
  pointer-events: none;
}

.button-look-two{
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 4px;
  padding: 8px 35px;
  width: 191px;
  min-height: 36px;
  color: #ffffff;
  background: none;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.button-look-two:hover{
  color: rgba(225, 225, 225, 0.6);
  cursor: pointer;
}

.button-look-two:focus{
  border: none;
  background-color: transparent;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-look-two:active{
  outline: none;
  border: none;
  color: rgba(225, 225, 225, 0.3);
}

.button-look-two:disabled{
  outline: none;
  color: rgba(225, 225, 225, 0.1);
  pointer-events: none;
}

.select{
  margin-bottom: 53px;
}

.select-containter{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.select-find{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  align-self: center;
  margin-right: 128px;
  max-width: 340px;
}

.select-control{
  font-family: "PT Sans", "Arial", sans-serif;
  border: 2px solid #e5e5e5;
  background: #ffffff;
  border-radius: 4px;
  padding: 12px 20px;
  width: 292px;
  height: 49px;
  background-image: url("../images/hotels-select-mark.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.select-control:hover{
  outline: none;
  border: 2px solid #68a2ca;
  border-radius: 4px;
  cursor: pointer;
}

.select-control:focus{
  outline: none;
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.select-control:disabled{
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.select-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 170px;
}

.select-item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.button-cards{
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  border: 2px solid #000000;
  border-radius: 4px;
  width: 44px;
  height: 44px;
}

.button-cards:hover{
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
}

.button-cards:focus{
  border: 2px solid #68A2CA;
  outline: none;
}

.button-cards:active{
  border: 2px solid #000000;
  outline: none;
}

.select-item:not(:last-child) > .button{
  margin-right: 8px ;
}

.button-single{
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 44px;
  height: 44px;
}

.button-single:hover{
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
}

.button-single:focus{
  border: 2px solid #68A2CA;
  outline: none;
}

.button-single:active{
  border: 2px solid #000000;
  outline: none;
}

.button-list{
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 44px;
  height: 44px;
}

.button-list:hover{
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
}

.button-list:focus{
  border: 2px solid #68A2CA;
  outline: none;
}

.button-list:active{
  border: 2px solid #000000;
  outline: none;
}

.select-icon{
  position: absolute;
  top: 12px;
  left: 12px;
}

.product-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 70px;
  margin: 0;
}

.product-card{
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 15px;
}

.product-card-link{
  grid-column: 1/-1;
  transition: 0.6s;
}

.product-card-link:hover{
  transform: scale(1.02);
  cursor: pointer;
}

.product-card-link:focus{
  outline: none;
  border: none;
  transform: scale(1.05);
}

.product-card-image{
  width: 300px;
  height: 212px;
}

.product-card-underline{
  text-decoration: none;
  grid-column: 1/-1;
  outline: none;
}

.product-card-underline:hover{
  opacity: 0.8;
  outline: none;
  cursor: pointer;
}

.product-card-underline:focus{
  opacity: 0.6;
  outline: none;
}

.product-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  outline: none;
}

.product-card-type{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.product-card-info-button{
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 4px;
  padding: 8px 10px;
  width: 140px;
  height: 36px;
  text-decoration: none;
  background:#756157;
  box-sizing: border-box;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.product-card-info-button:hover{
  background-color: #615048;
  outline: none;
  cursor: pointer;
}

.product-card-info-button:focus{
  background-color: #615048;
  outline: none;
}

.product-card-info-button:active{
  color: rgba(225, 225, 225, 0.3);
  outline: none;
}

.product-card-like-button{
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 4px;
  padding: 8px 10px;
  max-width: 140px;
  max-height: 36px;
  background: #82b3d3;
  box-sizing: border-box;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.product-card-like-button:hover{
  background-color: #68A2CA;
  outline: none;
  cursor: pointer;
}

.product-card-like-button:focus{
  background-color: #68A2CA;
  outline: none;
}

.product-card-like-button:active{
  color: rgba(225, 225, 225, 0.3);
  outline: none;
}

.product-card button:disabled{
  background-color: #e5e5e5;
  pointer-events: none;
}

.product-card-like-button-green{
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 4px;
  padding: 8px 10px;
  width: 140px;
  height: 36px;
  background: #7db54f;
  box-sizing: border-box;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.product-card-like-button-green:hover{
  background-color: #6C9E42;
  outline: none;
  cursor: pointer;
}

.product-card-like-button-green:focus{
  background-color: #6C9E42;
  outline: none;
}

.product-card-like-button-green:active{
  color: rgba(225, 225, 225, 0.3);
}

/* Селектор со звездочками */

.product-raiting{
  justify-self: start;
  align-self: center;
}

.product-stars{
  padding-top: 6px;
  padding-right: 1px;
}

.product-card-rating{
  border-radius: 4px;
  padding: 10px;
  width: 140px;
  height: 37px;
  background: #f2f2f2;
  box-sizing: border-box;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.pagination{
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin-top: 80px;
  padding: 0 70px;
  position: relative;
}

.pagination::before{
  content: "";
  position: absolute;
  bottom: 100%;
  height: 1px;
  width: 1060px;
  background-color: #E6E6E6;
  margin-bottom: 40px;
}

.pagination-item{
  border-radius: 4px;
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

.pagination-item:not(:last-child){
  margin-right: 8px;
}

.pagination-link{
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 12px;
}

.pagination-grey{
  background: #f2f2f2;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.pagination-link-black{
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.pagination-link-black:hover{
  opacity: 0.8;
  cursor: pointer;
}

.pagination-link-black:focus{
  opacity: 0.6;
}

.pagination-blue{
  background: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.pagination-link-white{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.pagination-link-white:hover{
  background-color: #68A2CA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-link-white:focus{
  border: none;
  border-radius: 4px;
  outline:  2px solid #68A2CA;
}

.pagination-link-white:active{
  color: #ffffff;
  opacity: 0.3;
  outline: none;
}

/* Начинается modular */

.modal{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242,242,242, 0.8);
  box-sizing: border-box;
  z-index: 3;
}

.modal--close{
  display: none;
}

.modal-wrapper{
  position: relative;
  margin: auto;
  border-radius: 30px;
  padding: 64px 70px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.modal-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
}

.modal-close-button{
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: #f2f2f2;
  top: 64px;
  right: 52px;
  border: none;
}

.modal-close-button:hover{
  outline: 2px solid #68a2ca;
  border: none;
  cursor: pointer;
}

.modal-close-button:focus{
  outline: 2px solid #68a2ca;
  border: none;
}

.modal-close-button::after{
  content: "";
  position: absolute;
  background-image: url("../images/modal-button-close.svg");
  width: 15px;
  height: 15px;
  color: #000000;
  background-repeat: no-repeat;
  top: 37%;
  transform: translate(-50%);
}

.settings-form{
  width: 577px;
}

.settings-holder{
  display: grid;
  grid-template-columns: minmax(137px, 1fr);
  align-items: center;
  padding-bottom: 23px;
}

.form-label > .settings-attribute-child{
  display: block;
  max-width: 32px;
  height: 25px;
  box-sizing: content-box;
  padding-right: 73px;
}

.settings-attribute{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  max-width: 137px;
  box-sizing: border-box;
}

.settings-holder input::placeholder{
  color: rgb(0, 0, 0, 0.6);
}

.settings-date-border{
  border-radius: 4px;
  width: 420px;
  height: 48px;
  background: #f2f2f2;
  border: none;
  padding: 0;
}

.settings-date-border:hover{
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(225, 225, 225);
  cursor: pointer;
}

.settings-date-border:focus{
  border: none;
  outline: 2px solid #68a2ca;
  padding-left: 20px;
}

.settings-date-border[type="text"]{
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  background-image: url("../images/modal-calendar.svg");
  background-repeat: no-repeat;
  background-position: 400px center;
}

.settings-date-border::placeholder{
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  padding-right: 15px;
}

.settings-error{
  grid-column: 2/3;
  font-weight: 400;
  font-size: 16px;
  color: #FF5757;
  padding-top: 4px;
  padding-left: 20px;
}

.settings-accept{
  grid-column: 2/3;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  padding-top: 4px;
  padding-left: 20px;
}

.minus{
  position: absolute;
  width: 14px;
  height: 14px;
  top: 15px;
  left: 11px;
  padding: 2px;
}

.settings-minus:hover path{
  fill: #000000;
  fill-opacity: 1;
  cursor: pointer;
}

.minus:focus{
  outline: 2px solid #83B3D3;
  border: none;
  padding: 2px;
}

.settings-minus:focus-within .minus{
  outline: 2px solid #83B3D3;
  border-radius: 20%;
  border: none;
}

.settings-minus:focus-within path{
  fill: #000000;
  fill-opacity: 1;
}

.settings-minus:active .minus{
  fill: none;
  outline: none;
  border: none;
}

.settings-minus:active path{
  fill-opacity: 0.3;
}

.settings-minus{
  outline: none;
  position: relative;
  border-radius: 4px 0 0 4px;
  height: 48px;
  width: 40px;
  background: #f2f2f2;
  border: none;
  padding: 0;
}

.settings-age-border{
  height: 48px;
  width: 11px;
  background: #f2f2f2;
  border: none;
  padding: 0;
}

.settings-age-border::-webkit-inner-spin-button{
  appearance: none;
  margin: 0;
}

.settings-age-border:hover{
  border: none;
  outline: none;
  opacity: 0.8;
  cursor: pointer;
}

.settings-age-border:focus{
  outline: none;
  border: none;
}

.settings-plus{
  outline: none;
  position: relative;
  border-radius: 0 4px 4px 0;
  height: 48px;
  width: 40px;
  background: #f2f2f2;
  border: none;
  padding: 0;
}

.plus{
  position: absolute;
  width: 14px;
  height: 14px;
  top: 15px;
  left: 11px;
  padding: 2px;
}

.settings-plus:hover path{
  fill: #000000;
  fill-opacity: 1;
  cursor: pointer;
}

.plus:focus{
  outline: 2px solid #83B3D3;
  border: none;
  padding: 2px;
}

.settings-plus:focus-within .plus{
  outline: 2px solid #83B3D3;
  border-radius: 20%;
  border: none;
}

.settings-plus:focus-within path{
  fill: #000000;
  fill-opacity: 1;
}

.settings-plus:active .plus{
  fill: none;
  outline: none;
  border: none;
}

.settings-plus:active path{
  fill-opacity: 0.3;
}

.settings-age-border[value="2"]{
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 0 10px;
}

.settings-find-border{
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  border-radius: 10px;
  padding: 18px 77px;
  width: 577px;
  min-height: 60px;
  background: #83b3d3;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 20px;
}

.settings-find-border:hover{
  outline: none;
  border: none;
  background-color: #68A2CA;
  cursor: pointer;
}

.settings-find-border:focus{
  outline: none;
  border: none;
  background-color: #68A2CA;
}

.settings-find-border:active{
  color: rgba(225, 225, 225, 0.3);
}

.settings-find-border:disabled{
  background-color: #E5E5E5;
  pointer-events: none;
}

.settings-age{
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.settings-adult{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
}

.settings-adult label{
  padding-right: 52px;
}

.settings-child label{
  padding-right: 56px;
}

.settings-child{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 15px;
}

/* TOOLTIP */

.form-label{
  position: relative;
}

.tooltip{
  position: absolute;
  width: 26px;
  height: 26px;
  top: -1px;
  right: 46px;
}

.tooltip-toggle{
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle:hover{
  border: none;
  outline: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-toggle:focus{
  border: none;
  outline: 1px solid #000000;
  border-radius: 50%;
}

.tooltip-icon{
  width: 100%;
  height: 100%;
  background-color: #83B3D3;
  display: block;
  border-radius: 50%;
}

.tooltip-text::after{
  content: "";
  background-image: url("../images/modal-angle.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
  position: absolute;
  color: #333333;
  transform: translateX(-50%);
  bottom: 100%;
  left: 50%;
}

.tooltip-text{
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  width: 216px;
  padding: 19px 18px 23px 22px;
  border-radius: 10px;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
  cursor: pointer;
}

.form-label-icon{
  position: relative;
  padding-right: 26px;
}

.minmax{
  display: flex;
}
