@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  box-shadow:  0 0 15px 0 rgba(0, 0, 0, 0.2);
}


.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.list-reset{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.page-header {
  color: #000000;
  background: #ffffff;
}


.navigation-link-words{
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}


.navigation-link-search{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/main-header-search.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}


.navigation-link-heart{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/main-header-heart.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}



.hero{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.advantages-title{
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}


.advantages-subtitle{
  color: #333333;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.advantages-item:nth-child(even){
  background-color: rgba(131, 179, 211, 0.2);
}


.advantages-item:nth-child(odd){
  background-color:  rgba(131, 179, 211, 0.12);
}


.advantages-item.advantages-item-blue{
  background-color: #82b3d3;
}


.advantages-reason.advantages-reason-white{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}


.advantages-description.advantages-description-white{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}


.advantages-reason{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}


.advantages-description{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}


.comfort-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}


.comfort-subtitle{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


.comfort-item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}


.comfort-item:nth-child(even){
  background-color: #ffffff;
}


.comfort-reason{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}


.comfort-description{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}


.interest-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}


.interest-subtitle{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


.interest-button{
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}


.news-background{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/main-news-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.news-title{
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}


.news-subtitle{
  color:#ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.news-subscribe{
  text-align: center;
}


.news-date{
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  text-align: left;
}


.info{
  color: #000000;
  background-color: #ffffff;

}


.info-contacts{
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


.info-academy{
  width: 115px;
  height: 33px;
}


.main-inner{
  background-image: url("../images/hotels-main-background.jpg");
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.inner-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}


.breadcrumbs{
  color: #ffffff;
  text-decoration: none;
}


.breadcrumbs-hotels{
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}


.hotels-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}


.hotels-list{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}


.select-find{
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
}


.select-control{
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 20px;
  width: 292px;
  height: 49px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}


.button-cards{
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}


.button-single{
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}


.button-list{
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}


.product-card{
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  width: 340px;
  height: 438px;
}


.product-card-image{
  width: 300px;
  height: 212px;
}


.product-card-underline{
  text-decoration: none;
}


.product-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}


.product-card-type{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}


.product-card-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  text-align: right;
  color: #333333
}


.product-card-info-button{
  border-radius: 4px;
  padding: 8px 50px;
  width: 140px;
  height: 36px;
  text-decoration: none;
  background:#756157;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}



.product-card-like-button{
  border-radius: 4px;
  padding: 8px 50px;
  width: 140px;
  height: 36px;
  background: #82b3d3;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}


.product-card-like-button-green{
  border-radius: 4px;
  padding: 8px 50px;
  width: 140px;
  height: 36px;
  background: #7db54f;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
/* Селектор со звездочками */


.product-card-rating{
  border-radius: 4px;
  width: 140px;
  height: 37px;
  background: #f2f2f2;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}


.pagination-link{
  text-decoration: none;
}


.pagination-grey{
  border-radius: 4px;
  width: 60px;
  height: 60px;
  background: #f2f2f2;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}


.pagination-blue{
  border-radius: 4px;
  width: 60px;
  height: 60px;
  background: #82b3d3;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
