@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(ptsans-400.woff2) format(woff2),
       url(ptsans-400.woff) format(woff);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  src: url(ptsans-400.woff2) format(woff2),
       url(ptsans-400.woff) format(woff);
}


@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(ptsans-700.woff2) format(woff2),
       url(ptsans-700.woff) format(woff);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;
  src: url(ptsans-700.woff2) format(woff2),
       url(ptsans-700.woff) format(woff);
}

body{
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
